<html>
    <head>
    <title>{{ org.pretty_name() }}</title>
  </head>
    <body>
    <div id="page">
      <div style="text-align:center">
        Welcome to the page for <b>{{ org.pretty_name() }}<b/>!
      </div>
      {% if deploy_blast or deploy_download or deploy_jbrowse or use_apollo or deploy_genoboo %}
      <ul id="primary-menu" class="nav-menu">
        {% if deploy_jbrowse %}
        <li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-46"><a href="{{base_url}}{{ url_prefix }}/{{ sub_url }}/jbrowse">Jbrowse</a></li>
        {% endif %}
        {% if deploy_blast %}
        <li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-46"><a href="{{base_url}}{{ url_prefix }}/{{ sub_url }}/blast">Blast</a></li>
        {% endif %}
        {% if deploy_download %}
        <li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-46"><a href="{{base_url}}{{ url_prefix }}/{{ sub_url }}/download/">Dowload</a></li>
        {% endif %}
        {% if use_apollo %}
        <li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-46"><a href="{{ apollo_url }}">Apollo</a>
        {% endif %}
        {% if deploy_genoboo %}
        <li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-46"><a href="{{base_url}}{{ url_prefix }}/{{ sub_url }}/gnb">Genoboo</a>
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </body>
</html>
