version: '3.7'
services:
    proxy:
        # Nginx docker image creating a custom user with read access to the datasets
        image: quay.io/genouest/docker_nginx_custom_user:latest
        volumes:
            {% if deploy_download %}
            - ./src_data/:/project_data/:ro
            - {{ locker_folder }}:{{ locker_folder }}:ro
            {% endif %}
            - ./nginx/conf/:/etc/nginx/conf.d/
            - ./site/:/usr/local/nginx/html/:ro
            {% if stage == "staging" %}
            - {{ root_work_dir }}:{{ root_work_dir }}:ro
            {% endif %}
            {% if extra_ref_data_dirs %}
            {% for mount in extra_ref_data_dirs %}
            - {{mount}}:{{mount}}:ro
            {% endfor %}
            {% endif %}
        networks:
            - traefikbig
            - {{ stack_name }}
        environment:
            RUN_USER: "myuser"
            UID: "52222"
            RUN_GROUP: "mygroup"
            GID: "77777"
            OTHER_GID: 88888
            OTHER_RUN_GROUP: another_group
        deploy:
          labels:
            # Download page
            - "traefik.http.routers.{{ stack_name }}-nginx.rule=(Host(`{{ netloc }}`) && PathPrefix(`{{ url_prefix }}/{{ sub_url }}`))"
            - "traefik.http.routers.{{ stack_name }}-nginx.tls=true"
            - "traefik.http.routers.{{ stack_name }}-nginx.entryPoints=webs"
            - "traefik.http.routers.{{ stack_name }}-nginx.middlewares=sp-auth,sp-trailslash,sp-prefix"
            - "traefik.http.services.{{ stack_name }}-nginx.loadbalancer.server.port=80"
          restart_policy:
            condition: on-failure
            delay: 5s
            max_attempts: 3
            window: 120s
    {% if org.has_mixed_data() %}
    proxy-restricted:
        image: quay.io/genouest/docker_nginx_custom_user:latest
        volumes:
            {% if deploy_download %}
            - ./src_data_restricted/:/project_data/:ro
            - {{ locker_folder }}:{{ locker_folder }}:ro
            {% endif %}
            - ./nginx_restricted/conf/:/etc/nginx/conf.d/
            - ./site_restricted/:/usr/local/nginx/html/:ro
            {% if stage == "staging" %}
            - {{ root_work_dir }}:{{ root_work_dir }}:ro
            {% endif %}
            {% if extra_ref_data_dirs %}
            {% for mount in extra_ref_data_dirs %}
            - {{mount}}:{{mount}}:ro
            {% endfor %}
            {% endif %}
        networks:
            - traefikbig
            - {{ stack_name }}
        environment:
            RUN_USER: "myuser"
            UID: "52222"
            RUN_GROUP: "mygroup"
            GID: "77777"
            OTHER_GID: 88888
            OTHER_RUN_GROUP: another_group
        deploy:
          labels:
            # Download page
            - "traefik.http.routers.{{ stack_name }}-nginx-restricted.rule=(Host(`{{ netloc_restricted }}`) && PathPrefix(`{{ url_prefix_restricted }}/{{ sub_url }}`))"
            - "traefik.http.routers.{{ stack_name }}-nginx-restricted.tls=true"
            - "traefik.http.routers.{{ stack_name }}-nginx-restricted.entryPoints=webs"
            - "traefik.http.routers.{{ stack_name }}-nginx-restricted.middlewares=sp-auth,sp-trailslash,sp-prefix"
            - "traefik.http.services.{{ stack_name }}-nginx-restricted.loadbalancer.server.port=80"
          restart_policy:
            condition: on-failure
            delay: 5s
            max_attempts: 3
            window: 120s
    {% endif %}

    {% if deploy_jbrowse %}
    jbrowse:
        # Custom image creating a user with read access to heavy files (ex: bam)
        image: quay.io/genouest/docker-jbrowse-custom-user:v1.16.11
        volumes:
            {% if stage == "production" %}
            - {{ locker_folder }}:{{ locker_folder }}:ro
            {% endif %}
            - ./docker_data/jbrowse/:/jbrowse/data/:ro
            {% if stage == "staging" %}
            - {{ root_work_dir }}:{{ root_work_dir }}:ro
            {% endif %}
            {% if extra_ref_data_dirs %}
            {% for mount in extra_ref_data_dirs %}
            - {{mount}}:{{mount}}:ro
            {% endfor %}
            {% endif %}
        environment:
            OTHER_GID: "44444,55555"
            OTHER_RUN_GROUP: "mygroup,myothergroup"
        networks:
            - traefikbig
            - {{ stack_name }}
        deploy:
          labels:
            - "traefik.http.routers.{{ stack_name }}-jbrowse.rule=(Host(`{{ netloc }}`) && PathPrefix(`{{ url_prefix }}/{{ sub_url }}/jbrowse`))"
            - "traefik.http.routers.{{ stack_name }}-jbrowse.tls=true"
            - "traefik.http.routers.{{ stack_name }}-jbrowse.entryPoints=webs"
            - "traefik.http.routers.{{ stack_name }}-jbrowse.middlewares=sp-auth,sp-app-trailslash,sp-app-prefix"
            - "traefik.http.services.{{ stack_name }}-jbrowse.loadbalancer.server.port=80"
          restart_policy:
            condition: on-failure
            delay: 5s
            max_attempts: 3
            window: 120s
    {% if org.has_mixed_data() %}
    jbrowse-restricted:
        # Custom image creating a user with read access to heavy files (ex: bam)
        image: quay.io/genouest/docker-jbrowse-custom-user:v1.16.11
        volumes:
            {% if stage == "production" %}
            - {{ locker_folder }}:{{ locker_folder }}:ro
            {% endif %}
            - ./docker_data/jbrowse_restricted/:/jbrowse/data/:ro
            {% if stage == "staging" %}
            - {{ root_work_dir }}:{{ root_work_dir }}:ro
            {% endif %}
            {% if extra_ref_data_dirs %}
            {% for mount in extra_ref_data_dirs %}
            - {{mount}}:{{mount}}:ro
            {% endfor %}
            {% endif %}
        environment:
            OTHER_GID: "44444,55555"
            OTHER_RUN_GROUP: "mygroup,myothergroup"
        networks:
            - traefikbig
            - {{ stack_name }}
        deploy:
          labels:
            - "traefik.http.routers.{{ stack_name }}-jbrowse-restricted.rule=(Host(`{{ netloc_restricted }}`) && PathPrefix(`{{ url_prefix_restricted }}/{{ sub_url }}/jbrowse`))"
            - "traefik.http.routers.{{ stack_name }}-jbrowse-restricted.tls=true"
            - "traefik.http.routers.{{ stack_name }}-jbrowse-restricted.entryPoints=webs"
            - "traefik.http.routers.{{ stack_name }}-jbrowse-restricted.middlewares=sp-auth,sp-app-trailslash,sp-app-prefix"
            - "traefik.http.services.{{ stack_name }}-jbrowse-restricted.loadbalancer.server.port=80"
          restart_policy:
            condition: on-failure
            delay: 5s
            max_attempts: 3
            window: 120s
    {% endif %}
    {% endif %}

    {% if deploy_blast %}
    {% if blast_job_folder %}
    blast:
        image: quay.io/abretaud/sf-blast:latest
        depends_on:
            - blast-db
        environment:
            DB_HOST: blast-db.{{ stack_name }}
            UPLOAD_LIMIT: 20M
            MEMORY_LIMIT: 128M
            DB_NAME: 'postgres'
            ADMIN_EMAIL: 'bipaa@inrae.fr'
            ADMIN_NAME: 'BIPAA'
            JOBS_METHOD: 'drmaa'
            JOBS_WORK_DIR: '/groups/bipaa/SI/blast_jobs/'
            CDD_DELTA_PATH: '/db/cdd_delta/current/flat/cdd_delta'
            BLAST_TITLE: '{{ org.pretty_name() }} blast server'
            JOBS_SCHED_NAME: 'blast_{{stack_name}}'
            PRE_CMD: '. /local/env/envblast-2.6.0.sh; . /local/env/envpython-3.7.1.sh;'
            APACHE_RUN_USER: 'bipaaweb'
            APACHE_RUN_GROUP: 'bipaa'
            BASE_URL_PATH: '{{ url_prefix }}/{{ sub_url }}/blast/'
            RESULT_URL_HOST: '{{ base_url }}'
            UID: 55914
            GID: 40259
            JOBS_DRMAA_NATIVE: '-p web'
            DRMAA_METHOD: 'slurm'
            INFLUX_HOST: 'gomngr2.genouest.org'
            INFLUX_PORT: "8686"
        volumes:
            {% if blast_theme %}
            - {{blast_theme}}:/var/www/blast/app/Resources/:ro
            {% endif %}
            - /data1/slurm/:/etc/slurm/:ro
            - /etc/munge/:/etc/munge/:ro
            - {{blast_job_folder}}:/groups/bipaa/SI/blast_jobs/
            - ./blast/:/etc/blast_links/:ro
        networks:
            - traefikbig
            - {{ stack_name }}
        deploy:
          labels:
            - "traefik.http.routers.{{ stack_name }}-blast.rule=(Host(`{{ netloc }}`) && PathPrefix(`{{ url_prefix }}/{{ sub_url }}/blast`))"
            - "traefik.http.routers.{{ stack_name }}-blast.tls=true"
            - "traefik.http.routers.{{ stack_name }}-blast.entryPoints=webs"
            - "traefik.http.routers.{{ stack_name }}-blast.middlewares=sp-big-req,sp-auth,sp-app-trailslash,sp-app-prefix"
            - "traefik.http.services.{{ stack_name }}-blast.loadbalancer.server.port=80"
          restart_policy:
            condition: on-failure
            delay: 5s
            max_attempts: 3
            window: 120s

    blast-db:
        image: postgres:9.5
        environment:
            - POSTGRES_PASSWORD=postgres
            - PGDATA=/var/lib/postgresql/data/
        volumes:
            {% if stage == "production" %}
            - ./docker_data/blast_db/:/var/lib/postgresql/data/
            {% endif  %}
            - ./postgres-blast-entrypoint.sh:/usr/local/bin/docker-entrypoint.sh
        networks:
            - {{ stack_name }}
        deploy:
          restart_policy:
            condition: on-failure
            delay: 5s
            max_attempts: 3
            window: 120s
    {% if org.has_mixed_data() %}
    blast-restricted:
        image: quay.io/abretaud/sf-blast:latest
        depends_on:
            - blast-db
        environment:
            DB_HOST: blast-db-restricted.{{ stack_name }}
            UPLOAD_LIMIT: 20M
            MEMORY_LIMIT: 128M
            DB_NAME: 'postgres'
            ADMIN_EMAIL: 'bipaa@inrae.fr'
            ADMIN_NAME: 'BIPAA'
            JOBS_METHOD: 'drmaa'
            JOBS_WORK_DIR: '/groups/bipaa/SI/blast_jobs/'
            CDD_DELTA_PATH: '/db/cdd_delta/current/flat/cdd_delta'
            BLAST_TITLE: '{{ org.pretty_name() }} blast server (private data)'
            JOBS_SCHED_NAME: 'blast_{{stack_name}}_restricted'
            PRE_CMD: '. /local/env/envblast-2.6.0.sh; . /local/env/envpython-3.7.1.sh;'
            APACHE_RUN_USER: 'bipaaweb'
            APACHE_RUN_GROUP: 'bipaa'
            BASE_URL_PATH: '{{ url_prefix_restricted }}/{{ sub_url }}/blast/'
            RESULT_URL_HOST: '{{ base_url_restricted }}'
            UID: 55914
            GID: 40259
            JOBS_DRMAA_NATIVE: '-p web'
            DRMAA_METHOD: 'slurm'
            INFLUX_HOST: 'gomngr2.genouest.org'
            INFLUX_PORT: "8686"
        volumes:
            {% if blast_theme %}
            - {{blast_theme}}:/var/www/blast/app/Resources/:ro
            {% endif %}
            - /data1/slurm/:/etc/slurm/:ro
            - /etc/munge/:/etc/munge/:ro
            - {{blast_job_folder}}:/groups/bipaa/SI/blast_jobs/
            - ./blast_restricted/:/etc/blast_links/:ro
        networks:
            - traefikbig
            - {{ stack_name }}
        deploy:
          labels:
            - "traefik.http.routers.{{ stack_name }}-blast-restricted.rule=(Host(`{{ netloc_restricted }}`) && PathPrefix(`{{ url_prefix_restricted }}/{{ sub_url }}/blast`))"
            - "traefik.http.routers.{{ stack_name }}-blast-restricted.tls=true"
            - "traefik.http.routers.{{ stack_name }}-blast-restricted.entryPoints=webs"
            - "traefik.http.routers.{{ stack_name }}-blast-restricted.middlewares=sp-big-req,sp-auth,sp-app-trailslash,sp-app-prefix"
            - "traefik.http.services.{{ stack_name }}-blast-restricted.loadbalancer.server.port=80"
          restart_policy:
            condition: on-failure
            delay: 5s
            max_attempts: 3
            window: 120s

    blast-db-restricted:
        image: postgres:9.5
        environment:
            - POSTGRES_PASSWORD=postgres
            - PGDATA=/var/lib/postgresql/data/
        volumes:
            {% if stage == "production" %}
            - ./docker_data/blast_db_restricted/:/var/lib/postgresql/data/
            {% endif  %}
            - ./postgres-blast-entrypoint.sh:/usr/local/bin/docker-entrypoint.sh
        networks:
            - {{ stack_name }}
        deploy:
          restart_policy:
            condition: on-failure
            delay: 5s
            max_attempts: 3
            window: 120s
    {% endif %}
    {% endif %}
    {% endif %}

    {% if deploy_genoboo %}
    genoboo:
        image: quay.io/biocontainers/genoboo:0.4.11--h4ac6f70_0
        volumes:
            - ./docker_data/genoboo/mongo_db:/root/db
            - ./genoboo.json:/root/genoboo.json
        networks:
            - traefikbig
            - {{ stack_name }}
        command: ["genoboo", "run", "-d", "/root/db", "-r", "{{ base_url }}{{ url_prefix }}/{{ sub_url }}/gnb", "--config", "/root/genoboo.json"]
        deploy:
          labels:
            - "traefik.http.routers.{{ stack_name }}-genoboo.rule=(Host(`{{ netloc }}`) && PathPrefix(`{{ url_prefix }}/{{ sub_url }}/gnb`))"
            - "traefik.http.routers.{{ stack_name }}-genoboo.tls=true"
            - "traefik.http.routers.{{ stack_name }}-genoboo.entryPoints=webs"
            - "traefik.http.routers.{{ stack_name }}-genoboo.middlewares=sp-auth,sp-app-trailslash"
            - "traefik.http.services.{{ stack_name }}-genoboo.loadbalancer.server.port=3000"
          restart_policy:
            condition: on-failure
            delay: 5s
            max_attempts: 3
            window: 120s

    {% if org.has_mixed_data() %}
    genoboo-restricted:
        image: quay.io/biocontainers/genoboo:0.4.11--h4ac6f70_0
        volumes:
            - ./docker_data/genoboo_restricted/mongo_db:/root/db
            - ./genoboo_restricted.json:/root/genoboo.json
        networks:
            - traefikbig
            - {{ stack_name }}
        command: ["genoboo", "run", "-d", "/root/db", "-r", "{{ base_url_restricted }}{{ url_prefix_restricted }}/{{ sub_url }}/gnb", "--config", "/root/genoboo.json"]
        deploy:
          labels:
            - "traefik.http.routers.{{ stack_name }}-genoboo-restricted.rule=(Host(`{{ netloc_restricted }}`) && PathPrefix(`{{ url_prefix_restricted }}/{{ sub_url }}/gnb`))"
            - "traefik.http.routers.{{ stack_name }}-genoboo-restricted.tls=true"
            - "traefik.http.routers.{{ stack_name }}-genoboo-restricted.entryPoints=webs"
            - "traefik.http.routers.{{ stack_name }}-genoboo-restricted.middlewares=sp-auth,sp-app-trailslash"
            - "traefik.http.services.{{ stack_name }}-genoboo-restricted.loadbalancer.server.port=3000"
          restart_policy:
            condition: on-failure
            delay: 5s
            max_attempts: 3
            window: 120s
    {% endif %}
    {% endif %}

    {% if deploy_elasticsearch %}
    elasticsearch:
        image: quay.io/genouest/docker_elasticsearch_exec@sha256:798d06cd961bf6c3b11d30659d38400b3a0d4262647639a307f3cb55d70088c7
        volumes:
            - ./docker_data/elasticsearch/data:/usr/share/elasticsearch/data
        environment:
            discovery.type: single-node
            bootstrap.memory_lock: "true"
            xpack.security.enabled: "false"
            xpack.ml.enabled: "false"
            xpack.graph.enabled: "false"
            xpack.watcher.enabled: "false"
            cluster.routing.allocation.disk.threshold_enabled: "false"
            ES_JAVA_OPTS: "-Xms500m -Xmx500m"
            ES_UID: "55914"
            ES_USER: "bipaaweb"
        networks:
            - {{ stack_name }}
        deploy:
          restart_policy:
            condition: on-failure
            delay: 5s
            max_attempts: 3
            window: 120s

    elasticsearch-query:
        image: quay.io/genouest/docker_elasticsearch_query:latest
        networks:
            - traefikbig
            - {{ stack_name }}
        environment:
            ES_URL: "elasticsearch"
            ES_PORT: "9200"
            ES_INDEX: "genes"
            ES_HIGHLIGHT_TAG: "b"
            ES_ALLOWED_FILTERS: "annotation"
            {% if org.has_mixed_data() %}
            RESTRICT_PUBLIC: "True"
            {% endif %}
        deploy:
          labels:
            - "traefik.http.routers.{{ stack_name }}-elasticsearch-query.rule=(Host(`{{ netloc }}`) && PathPrefix(`{{ url_prefix }}/{{ sub_url }}/query`))"
            - "traefik.http.routers.{{ stack_name }}-elasticsearch-query.tls=true"
            - "traefik.http.routers.{{ stack_name }}-elasticsearch-query.entryPoints=webs"
            - "traefik.http.routers.{{ stack_name }}-elasticsearch-query.middlewares=sp-auth,sp-app-prefix"
            - "traefik.http.services.{{ stack_name }}-elasticsearch-query.loadbalancer.server.port=80"
          restart_policy:
            condition: on-failure
            delay: 5s
            max_attempts: 3
            window: 120s
    {% if org.has_mixed_data() %}
    elasticsearch-query-restricted:
        image: quay.io/genouest/docker_elasticsearch_query:latest
        networks:
            - traefikbig
            - {{ stack_name }}
        environment:
            ES_URL: "elasticsearch"
            ES_PORT: "9200"
            ES_INDEX: "genes"
            ES_HIGHLIGHT_TAG: "b"
            ES_ALLOWED_FILTERS: "annotation"
        deploy:
          labels:
            - "traefik.http.routers.{{ stack_name }}-elasticsearch-query-restricted.rule=(Host(`{{ netloc_restricted }}`) && PathPrefix(`{{ url_prefix_restricted }}/{{ sub_url }}/query`))"
            - "traefik.http.routers.{{ stack_name }}-elasticsearch-query-restricted.tls=true"
            - "traefik.http.routers.{{ stack_name }}-elasticsearch-query-restricted.entryPoints=webs"
            - "traefik.http.routers.{{ stack_name }}-elasticsearch-query-restricted.middlewares=sp-auth,sp-app-prefix"
            - "traefik.http.services.{{ stack_name }}-elasticsearch-query-restricted.loadbalancer.server.port=80"
          restart_policy:
            condition: on-failure
            delay: 5s
            max_attempts: 3
            window: 120s
    {% endif %}
    {% endif %}

networks:
    traefikbig:
        external: true
    {{ stack_name }}:
        driver: overlay
        name: {{ stack_name }}
